### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [33]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Player Count

* Display the total number of players

In [34]:
Total_numbers_players = purchase_data.SN.nunique()
Total_numbers_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [45]:
avg_price = purchase_data.Price.mean()
avg_price

3.050987179487176

In [37]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [38]:
total_revenue = purchase_data.Price.sum()
total_revenue

2379.77

In [39]:
#Summary of Purchase analysis
Purchase_summary =pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Price": [avg_price],
                                 "Number of Purchases": [number_of_purchases],
                                 "Total Revenue": [total_revenue]})
Purchase_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [40]:
#Get total players
player_count_df = purchase_data.loc[:, ["Gender", "Age", "SN"]]
player_count_df = player_count_df.drop_duplicates()
player_total = player_count_df.count()[2]
player_total


count = player_count_df["Gender"].value_counts()
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [41]:
#Gender Summary table
percentage = count / player_count_df["Gender"].count() * 100
percentage

Demographics_table = pd.DataFrame({"Total Count": gender_count, 
                                     "Percentage of Players": percentage})
Demographics_table

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
gender = purchase_data.groupby(["Gender"])


purchase_Count = gender["SN"].count()

purchase_Price = gender["Price"].mean()

purchase_Value = gender["Price"].sum()

# Remove duplicates
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])


purch2 = (gender["Price"].sum() / grouped_dup["SN"].count())


purchase_summ = pd.DataFrame({"Purchase Count": purchase_Count,
                              "Average Purchase Price": purchase_Price,
                              "Total Purchase Value": purchase_Value,
                              "Normalized Totals": purch2})
#Format table
purchase_summ["Average Purchase Price"] = Purch_Anal_Gen["Average Purchase Price"]
purchase_summ["Total Purchase Value"] = Purch_Anal_Gen["Total Purchase Value"]
purchase_summ["Normalized Totals"] = Purch_Anal_Gen["Normalized Totals"]
purchase_summ = Purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
purchase_summ

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [60]:
#Creating age bins
bins = [0, 9, 19, 29, 39, 150]

group_names = ["<10", "10-19", "20-29", "30-39", "40+"]

player_counts_df["Age Range"] = pd.cut(player_counts_df["Age"], bins, labels=group_names)
age_count = player_counts_df["Age Range"].value_counts()
age_count

age_percentages = age_count / player_total
age_percentages

20-29    0.581597
10-19    0.223958
30-39    0.144097
<10      0.029514
40+      0.020833
Name: Age Range, dtype: float64

In [63]:
#Age demo table
age_demographics = pd.DataFrame({"Player Age Count Totals": age_count, "Player Percentages": age_percentages})
age_demographics = age_demographics.sort_index()
age_demographics

       Player Age Count Totals  Player Percentages
<10                         17            0.029514
10-19                      129            0.223958
20-29                      335            0.581597
30-39                       83            0.144097
40+                         12            0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Range"]

age_purchase_count = purchase_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
age_purchase_average = purchase_data.groupby(["Age Range"]).mean()["Price"].rename("Purchase Price Average")
age_purchase_data = purchase_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Amount")

In [82]:
age_average_purchases_pp = age_purchase_data / age_demographics["Player Age Count Totals"]


age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Avg. Purchase Price": age_purchase_average,
                                          "Avg. Purchase Total Per Person": age_average_purchases_pp})
age_purchasing_analysis_df

           Purchase Count  Avg. Purchase Price  Avg. Purchase Total Per Person
Age Range
<10                    23             3.353478                        4.537059
10-19                 164             3.022378                        3.842403
20-29                 466             3.019442                        4.200179
30-39                 114             3.172544                        4.357470
40+                    13             2.941538                        3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
user_number_spendings = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_average_spendings = purchase_data.groupby(["SN"]).mean()["Price"].rename("Purchase Price Average")
total_spendings = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
total_spendings


user_spending_df = pd.DataFrame({"Purchase Count": user_number_spendings, "Purchase Price Average": user_average_spendings,
                                 "Total Purchase Value": total_spendings})
user_spending_df

sorted_user_spending_df = user_spending_df.sort_values("Total Purchase Value", ascending=False)
sorted_user_spending_df.head()

             Purchase Count  Purchase Price Average  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [87]:
items_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
items_df

item_purchase_count = items_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Item Purchase Count")
item_purchase_total = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [88]:
#Summary
summary_items_df = pd.DataFrame({"Item Purchase Count": item_purchase_count, "Total Purchase Value": item_purchase_total})

sorted_items_df = summary_items_df.sort_values("Item Purchase Count", ascending=False)
sorted_items_df.head()

,,Item Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [89]:


sorted_items_total = summary_items_df.sort_values("Total Purchase Value", ascending=False)
sorted_items_total.head()

,,Item Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
103,Singed Scalpel,8,34.80